<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid"  >
      <img src="https://d1hzl1rkxaqvcd.cloudfront.net/contest_entries/13002/_300px/Sepetle.com%20Logo%20%C3%87al%C4%B1%C5%9Fmas%C4%B1.jpg" height="120px" weight="220px"/>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/products" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: larger;">ANASAYFA</a>
          </li>
          <app-cart-summary></app-cart-summary>
        </ul>
        <div class="text-end">
          <button type="button" class="btn btn-success" style="margin: 4px;" routerLink="login">GİRİŞ YAP</button>
          <button type="button" class="btn btn-warning" style="margin: 4px;" routerLink="register">KAYDOL</button>
        </div>
      </div>
    </div>
  </nav>
